*{
    margin:0;
}

.content{
    width:1000px;
    height:700px;
    position:absolute;
    top: calc( 50% - 350px );
    left: calc( 50% - 500px );
    border:2px solid black;
}

.promocodes_puls{
    width:400px;
    height:700px;
    position:absolute;
    top:0;
    left:0;
    border-right:2px solid black;
}

.promocodes_list{
    width:600px;
    height:700px;
    position:absolute;
    top:0;
    left:400px;
}

.puls_search{
    width:300px;
    height:40px;
    position:absolute;
    top:5px;
    left:10px;
    text-align:center;
    border-radius:7px;
    font-size:25px;
}

.create_new_pull_button{
    width:40px;
    height:40px;
    border:2px solid black;
    position:absolute;
    top:5px;
    right:10px;
    border-radius:3px;
    transition:0.7s;
    cursor:pointer;
}

.create_new_pull_button:hover{
    border-radius:7px;
    background:rgba(0, 0, 0, 0.3);
}

.pul_list{
    width:100%;
    height:643px;
    position:absolute;
    top:56px;
    left:0;
    border-top:2px black solid;
    overflow-y:auto;
}

.codes_search{
    width:400px;
    height:40px;
    position:absolute;
    top:5px;
    left:20px;
    text-align:center;
    border-radius:7px;
    font-size:25px;
}

.create_new_code_button{
    width:40px;
    height:40px;
    border:2px solid black;
    position:absolute;
    top:5px;
    right:10px;
    border-radius:3px;
    transition:0.7s;
    cursor:pointer;
}

.create_new_code_button:hover{
    border-radius:7px;
    background:rgba(0, 0, 0, 0.3);
}

.codes_list{
    width:100%;
    height:643px;
    position:absolute;
    top:56px;
    left:0;
    border-top:2px black solid;
}

.create_pull_window{
    width:100%;
    height:650px;
    position:absolute;
    top:56px;
    left:0;
    background:white;
    display:none;
    
}

.create_pull_window_back_button{
    width:100%;
    height:56px;
    position:absolute;
    top:0;
    left:0;
    border-bottom:2px solid black;
    border-top:2px solid black;
    background:white;
    color:black;
    transition:0.7s;
    cursor:pointer;
}

.create_pull_window_back_button:hover{
    background:black;
    color:white;
}

.create_pull_window_back_button_text{
    font-size:30px;
    margin-top:12px;
}

.create_pull_window_from_date{
    width:100%;
    height:60px;
    position:absolute;
    top:120px;
    left:0;
    border-bottom:2px solid black;
    border-top:2px solid black;
}

.create_pull_window_to_date{
    width:100%;
    height:60px;
    position:absolute;
    top:182px;
    left:0;
    border-bottom:2px solid black;
    border-top:2px solid black;
}

.create_pull_window_access_settings{
    width:100%;
    height:60px;
    position:absolute;
    top:244px;
    left:0;
    border-bottom:2px solid black;
    border-top:2px solid black;
}

.create_pull_window_name{
    width:300px;
    height:40px;
    position:absolute;
    top:66px;
    left:50px;
    border-radius:5px;
    border:2px solid black;
    background:rgba(0, 0, 0, 0.1);
    color:black;
    text-align:center;
    font-size:28px;
}

.pickDateTxt{
        font-size:18px;
        color:black;
        margin-top:5px;
    }
    
    .pickDateYear{
        width:80px;
        height:23px;
        position:absolute;
        top:30px;
        left:65px;
        text-align:center;
        font-size:18px;
        color:white;
        border:2px solid black;
        border-radius:5px;
        background:rgba(0, 0, 0, 0.7);
    }
    
    .pickDateMonth{
        width:80px;
        height:23px;
        position:absolute;
        top:30px;
        left:160px;
        text-align:center;
        font-size:18px;
        color:white;
        border:2px solid black;
        border-radius:5px;
        background:rgba(0, 0, 0, 0.7);
    }
    
    .pickDateDay{
        width:80px;
        height:23px;
        position:absolute;
        top:30px;
        left:258px;
        text-align:center;
        font-size:18px;
        color:white;
        border:2px solid black;
        border-radius:5px;
        background:rgba(0, 0, 0, 0.7);
    }
    
    .create_pull_window_access_activation_limit{
        width:70px;
        height:20px;
        position:absolute;
        top:20px;
        left:65px;
        border-radius:5px;
        text-align:center;
    }
    
    .create_pull_window_access_status_text{
        position:absolute;
        top:23px;
        left:250px;
    }
    
    .create_pull_window_access_status{
        position:absolute;
        top:28px;
        left:325px;
    }
    
    .create_pull_window_button_create{
        width:300px;
        height:70px;
        position:absolute;
        left:50px;
        top:580px;
        border:2px solid black;
        border-radius:5px;
        color:black;
        cursor:pointer;
        transition:0.7s;
    }
    
    .create_pull_window_button_create:hover{
        color:white;
        background:black;
    }
    
    .create_pull_window_button_create_text{
        font-size:28px;
        margin-top:20px;
    }
    
    .pull_list_element{
        width:100%;
        height:100px;
        margin-top:2px;
        margin-left:0;
        border-bottom:2px solid black;
        color:black;
        background:white;
        transition:1s;
        cursor:pointer;
    }
    
    .pull_list_element:hover{
        width:calc(100% + 5px);
        margin-left:-5px;
        background:rgba(0, 0, 0, 0.15);
    }
    
    .pull_list_element_name{
        font-size:22px;
        margin-left:10px;
    }
    
    .pull_list_element_from, .pull_list_element_to, .pull_list_element_checkbox_text{
        font-size:16px;
        margin-left:10px;
        margin-top:3px;
    }
    
    .pull_list_element_checkbox{
        position: relative;
        top: 2px;
        left: 2px;
    }
    
    .pull_list_activation_limit{
        margin-left:215px;
        margin-top:-80px;
        font-size:18px;
    }
    
    .codes_list_element{
        width:98%;
        height:50px;
        margin-top:2px;
        margin-left:1%;
        border-bottom:2px solid black;
        color:black;
        background:white;
    }
    
    .code_list_elenent_code{
        font-size:22px;
        position:relative;
        left:10px;
        top:10px;
    }
    
    .code_list_element_bonuce_type{
        font-size:20px;
        position:relative;
        left:200px;
        top:-15px;
    }
    
    .code_list_element_bonuce_sum{
        font-size:20px;
        position:relative;
        left:340px;
        top:-35px;
    }
    
    .code_list_element_activated_times{
        font-size:20px;
        position:relative;
        left:540px;
        top:-58px;
    }
    
    .code_list_create_code{
        width:120px;
        height:20px;
        position:relative;
        top:10px;
        left:10px;
        font-size:15px;
        text-align:center;
    }
    
    .code_list_create_pull{
        width:120px;
        height:20px;
        position:relative;
        top:10px;
        left:20px;
        font-size:15px;
        text-align:center;
    }
    
    .code_list_create_bonuce_type{
        width:120px;
        height:20px;
        position:relative;
        top:10px;
        left:30px;
        font-size:15px;
        text-align:center;
    }
    
    .code_list_create_summ{
        width:80px;
        height:20px;
        position:relative;
        top:10px;
        left:40px;
        font-size:15px;
        text-align:center;
    }
    
    .code_list_create_button{
        width:30px;
        height:30px;
        position:relative;
        top:-20px;
        left:550px;
        border:2px solid black;
        cursor:pointer;
        border-radius:5px;
        transition:1s;
    }
    
    .code_list_create_button:hover{
        background:rgba(0, 0, 0, 0.2);
    }
    
    .codes_list_sec{
        width:100%;
        height:591px;
        position:absolute;
        top:52px;
        left:0;
        border-top:2px black solid;
    }